.rainbow {
  animation: rainbow 500ms;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0% {
    color: #FF0000;
  }

  15% {
    color: #FFA500;
  }

  30% {
    color: #FFFF00;
  }

  45% {
    color: #00FF00;
  }

  60% {
    color: #0000FF;
  }

  75% {
    color: #4B0082;
  }

  90% {
    color: #8F00FF;
  }
}